@charset "UTF-8";
/* CSS Document */

.photo {
	width: 1200px;
	height: 500px;
}

/*.slides {
	width: 970px;
	height: 340px;
	overflow: hidden;
	position: absolute;
	background: white;
}

.slides .slide {
	height: 340px;
}

.sdw-l, .sdw-r {
	background-repeat: no-repeat;
	width: 30px;
	height: 485px;
	position: absolute;
	z-index: 99;
}

.sdw-r {
	background-image: url(../images/sdw-r.png);
	margin: -155px 0 0 978px;
}

.sdw-l {
	background-image: url(../images/sdw-l.png);
	margin: -155px 0 0 -30px;
}

.slides .slide .text {
	float: left;
	width: 450px;
	padding: 10px 15px;
}

.slides .slide .text p {
	line-height: 1.5em;
}

.slides .slide .text p a {
	color: #4a64aa;
	text-decoration: none;
}

.slides .slide .text p a:hover {
	text-decoration: underline;
}

.slides .slide .photo {
	overflow: hidden;
	width: 480px;
	height: 280px;
	text-align: center;
	vertical-align: middle;
	float: right;
}

.slides .slide .photo img {
	margin: 20px auto;
}

.slideshow-container .slidenav {
	position: relative;
	margin: 280px 55px 0 0;
	z-index: 100;
	float: right;
}

.slideshow-container .slidenav a {
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
	margin: 0 8px;
	float: left;
	background-color: #e5e2df;
	color: #a1988c;
	text-decoration: none;
	line-height: 30px;
}

.slideshow-container .slidenav a:hover {
	background-color: #4a64aa;
	color: white;
}

.slideshow-container .slidenav a.activeSlide {
	color: #4a64aa;
}

.slideshow-container .slidenav a.activeSlide:hover {
	color: white;
}*/
